@charset "utf-8";
/* CSS Document */
/*网站主体*/
.inner{ width:958px;  margin:0px auto; margin-top:5px; background:url(../images/cssimg/main_class_bg.jpg) repeat-y; min-height:500px;}

.inner_left{ float:left; width:674px; display:inline;}
.inner_right{ width:282px; float:right; display:inline;}


/*当前位置*/
.site{ height:48px; line-height:48px; color:#185f89; border-bottom:1px solid #dcdcdc; padding:0px 17px;}
.site a{ height:48px; line-height:48px; color:#185f89; }
.site span{ height:48px; line-height:48px; color:#185f89; font-weight:800; font-size:14px; }

.inner_de { padding:20px 30px; }
.inner_de .inner_title { padding-top:10px;}
.inner_de .inner_title .div01{ text-align:center; font-size:28px; height:40px; line-height:40px; color:#185f89; font-weight:400; font-family:"微软雅黑"; }
.inner_de .inner_title .div02{ text-align:center; color:#808080; line-height:60px; font-size:12px; }
.inner_de .inner_title .div02 span{ color:#d6d6d6;}
.inner_de .inner_title .div03{ border:1px solid #dfdfdf; padding:15px; background:#eeeeee; line-height:19px; color:#4e4e4e;}

.inner_de .inner_body { text-align:left; padding:20px 10px; font-size:14px; line-height:200%; color:#656460; }
.other_news{}
.other_news_nav{ height:33px; line-height:33px; font-size:14px; font-weight:800; color:white; padding:0px 10px; background:url(../images/cssimg/other_news_bg.jpg) no-repeat; background-color:#efefef;}
.other_news_nr{ margin-top:15px;}
.other_news_nr ul li{ float:left; height:25px; font-size:12px; color:#00527a; width:305px;}
.other_news_nr ul li a{ color:#00527a; height:25px; font-size:12px; line-height:25px;}
.other_news_nr ul li a:hover{ color:#dd0000; height:25px; font-size:12px; line-height:25px;}
.other_news_nr ul li span{ color:#9e9e9e; height:25px; font-size:12px; line-height:25px;}


/*学生案例*/
.inner_stu_case{ padding:20px 25px; border-bottom:1px dashed #dddfe0; border-top:1px dashed #fff;}

.inner_stu_case_nav{ height:28px; font-size:14px; font-weight:800; color:#00527a; line-height:28px; }
.inner_stu_case_nav a{ float:right; color:#666666; font-size:12px; font-weight:400;}
.inner_stu_case_nr{ margin-top:10px;}
.inner_stu_case_nr ul li{ float:left; display:inline; margin-left:6px;}
.inner_stu_case_nr img{ border:1px solid #e9e9e9;}

/*分享*/
.inner_fenxiang{ padding:20px 25px; border-bottom:1px dashed #dddfe0; border-top:1px dashed #fff;}

/*本栏目排行*/
.inner_paihang{ padding:20px 25px; border-bottom:1px dashed #dddfe0; border-top:1px dashed #fff;}
.inner_paihang .nav02{ background:url(../images/cssimg/nav02_icon03.jpg) no-repeat;}

.inner_paihang_nr{ padding:10px 10px;}
.inner_paihang_nr ul li{ height:27px; line-height:27px;}
.inner_paihang_nr ul li a{ color:#666666;}
.inner_paihang_nr ul li a span{ color:#9e9e9e;}

/*专家答疑*/
.inner_dayi{ padding:20px 25px; border-bottom:1px dashed #dddfe0; border-top:1px dashed #fff;}
.inner_dayi .nav02{ background:url(../images/cssimg/nav02_icon02.jpg) no-repeat left center;}
.inner_dayi_fen{ height:10px;   }
.inner_dayi_nr{ padding:0px 5px;}
.inner_dayi_nr p.p_q{ padding-left:23px; background:url(../images/cssimg/q_icon.jpg) no-repeat  0px 15px; font-weight:800; color:#00527a; border-top:1px solid #ebebeb; padding-top:15px; margin-top:15px;}
.inner_dayi_nr p.p_a{ padding-left:23px; background:url(../images/cssimg/a_icon.jpg) no-repeat  0px 3px; font-weight:400; color:#666666; line-height:21px; margin-top:8px;}
.inner_dayi_nr p.p_a a{color:#00527a; }
.inner_dayi_nr p.p_a a:hover{color:#dd0000; }


/*报名*/
.inner_baoming{}
.inner_baoming_nav{ height:33px; line-height:33px; font-size:14px; font-weight:800; color:white; padding:0px 10px; background:url(../images/cssimg/other_news_bg.jpg) no-repeat; background-color:#efefef;}
.inner_baoming_nav span{ height:33px; line-height:33px; font-size:12px; font-weight:400; color:#808080; padding:0px 10px; float:right;}


.inner_baoming_nr{ border:1px solid #dadada; background:#fff; min-height:200px; padding:0px 10px;}
.inner_baoming_nr .div01{ border-bottom:1px dashed #eaeaea; padding:10px 0px;}
.inner_baoming_nr .div02{ padding:30px 0px; padding-left:285px;}


