@charset "utf-8";
/* CSS Document */
.contain{ /*width:1000px;*/ margin:0px auto; margin-top:50px;}
.section{ position:relative; padding:10px 0px; }



/**
 * [ animation-name ]： 检索或设置对象所应用的动画名称 
 * [ animation-duration ]： 检索或设置对象动画的持续时间 
 * [ animation-timing-function ]： 检索或设置对象动画的过渡类型 
 * [ animation-delay ]： 检索或设置对象动画延迟的时间 
 * [ animation-iteration-count ]： 检索或设置对象动画的循环次数 
 * [ animation-direction ]： 检索或设置对象动画在循环中是否反向运动 
 * [ animation-play-state ]： 检索或设置对象动画的状态。w3c正考虑是否将该属性移除，因为动画的状态可以通过其它的方式实现，比如重设样式 
 *
 */

.earth-img{ position:relative; top:0px; left:0px; z-index:10; width:217px; height:217px; }

.deer-img{ position:relative; top:0px; left:0px; z-index:10; width:400px; height:240px; }

.heard-img{ position:relative; top:0px; left:300px; z-index:10; width:192px; height:192px; }

.tire-img{ position:relative; top:0px; left:0px; z-index:10; width:200px; height:200px; }

.heard2-img{ position:relative; top:0px; left:600px; z-index:10; width:192px; height:192px; }


/*旋转动画*/
.animation-rotate{
	animation:rotate-animations 5s linear infinite;
}

/*旋转动画*/
@keyframes rotate-animations{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

/*平移动画*/
.animation-transform{
	animation:transform-animations 10s linear infinite;
}

/*平移动画*/
@keyframes transform-animations{
	0%{ transform:translate(0,0);}
	50% { transform:translate(1000px,-300px); }
	100% {transform:translate(0,0);}
}

/*平移动画*/
.animation-scale{
	animation:scale-animations .5s ease-out infinite;
}

/*缩放动画*/
@keyframes scale-animations{
	0%{ transform:scale(1);}
	70% { transform:scale(1.2); }
	100% {transform:scale(1);}
}


/*综合动画*/
.animation-matrix{
	animation:matrix-animations 5s ease-out infinite;
}

/*综合动画*/
@keyframes matrix-animations{
	0%{ -webkit-transform:matrix(1, 0, 0, 1, 0, 0); opacity:1; }
	50%{ -webkit-transform:matrix(2, 0, 0, 2, 100, -150); opacity:0; }
	100%{ -webkit-transform:matrix(1, 0, 0, 1, 0, 0); opacity:1; }
}

/*综合动画*/
.animation-matrix2{
	animation:matrix2-animations 10s ease infinite;
}

/*综合动画*/
@keyframes matrix2-animations{
	0%{ -webkit-transform:matrix(1, 0, 0, 1, 0, 0); }
	50%{ -webkit-transform:matrix(-1, 0, 0, -1, 1000, 0); }
	100%{ -webkit-transform:matrix(1, 0, 0, 1, 0, 0); }
}

/**
 * [ animation-timing-function ]： 检索或设置对象动画的过渡类型 
 * linear： 线性过渡。等同于贝塞尔曲线(0.0, 0.0, 1.0, 1.0) 
 * ease： 平滑过渡。等同于贝塞尔曲线(0.25, 0.1, 0.25, 1.0) 
 * ease-in： 由慢到快。等同于贝塞尔曲线(0.42, 0, 1.0, 1.0) 
 * ease-out： 由快到慢。等同于贝塞尔曲线(0, 0, 0.58, 1.0) 
 * ease-in-out： 由慢到快再到慢。等同于贝塞尔曲线(0.42, 0, 0.58, 1.0) 
 * step-start： 等同于 steps(1, start) 
 * step-end： 等同于 steps(1, end) 
 */


/**
 * [ animation-iteration-count ]： 检索或设置对象动画的循环次数 
 * infinite： 无限循环
 * forwards 单
 * <number>： 指定对象动画的具体循环次数 
 */





