@charset 'utf-8';

/* CSS Document */


/*顶部-nav*/

#top-nav {
  height: 28px;
  margin-top: 0;
  border-bottom: 1px solid #eee;
  background-color: #f7f7f7;
}

.top-nav {
  width: 1000px;
  height: 28px;
  margin: 0 auto;
}

.top-nav .fl {
  display: inline;
  float: left;
  width: 400px;
  height: 28px;
  margin-top: 0;
  margin-left: 0;
  line-height: 28px;
}

.top-nav .fr {
  display: inline;
  float: right;
  width: 400px;
  height: 28px;
  margin-top: 0;
  margin-right: 0;
  text-align: right;
  line-height: 28px;
}

.top-nav a {
  padding: 0 2px;
  color: #575757;
  font-size: 12px;
  line-height: 28px;
}

.top-nav a:hover {
  padding: 0 2px;
  color: #c80b27;
  font-size: 12px;
  line-height: 28px;
}


/*顶部*/

#top {
  margin-top: 0;
  background: url(../images/cssimg/top_bg.jpg);
  background-color: #fff;
}

.top {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

.top .fl {
  display: inline;
  float: left;
  width: 400px;
  height: 100px;
  margin-top: 0;
  margin-left: 0;
}

.top .fr {
  display: inline;
  float: right;
  width: 400px;
  height: 100px;
  margin-top: 0;
  margin-right: 0;
}


/*导航*/

#nav {
  height: 43px;
  background: #c80928;
}

.nav {
  width: 1000px;
  height: 43px;
  margin: 0 auto;
}

.nav li {
  display: inline;
  float: left;
  width: 107px;
  height: 43px;
  margin-left: 5px;
}

.nav li a {
  display: block;
  overflow: hidden;
  height: 43px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
}

.nav li a:hover {
  display: block;
  overflow: hidden;
  height: 43px;
  text-align: center;
  color: #fff;
  background: url(../images/cssimg/menu_li_sbg.jpg) no-repeat;
  font-size: 14px;
  font-weight: 800;
  line-height: 43px;
}

.nav li.active a {
  display: block;
  overflow: hidden;
  height: 43px;
  text-align: center;
  color: #fff;
  background: url(../images/cssimg/menu_li_sbg.jpg) no-repeat;
  font-size: 14px;
  font-weight: 800;
  line-height: 43px;
}


/*友情链接*/

.links {
  width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
}

.links .content {
  padding: 5px 15px;
}

.links .content a {
  display: inline-block;
  padding: 0 7px;
  color: #444;
  line-height: 28px;
}

.links .content a:hover {
  text-decoration: underline;
  color: #0079f5;
}


/*底部导航*/

.footer-nav {
  width: 1000px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background: #393939;
  line-height: 36px;
}

.footer-nav a {
  color: #fff;
  font-size: 12px;
  line-height: 36px;
}

.footer-nav a:hover {
  color: #ccc;
}


/*底部*/

.footer {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  color: #404040;
}

.footer p {
  text-align: center;
  color: #404040;
  line-height: 26px;
}


/*标题01*/

.nav-title01 {
  height: 36px;
  padding: 0 20px;
  color: #222;
  border-bottom: 1px solid #e6e6e6;
  background: #f3f3f3;
  font-size: 16px;
  line-height: 36px;
}

.nav-title01 a {
  float: right;
  color: #222;
  font-family: '宋体';
  font-size: 12px;
}

.nav-title01 a:hover {
  float: right;
  text-decoration: underline;
  color: #0079f5;
  font-family: '宋体';
  font-size: 12px;
}


/*标题02*/

.nav-title02 {
  height: 36px;
  background: url(../images/cssimg/nav_title02_bg.jpg) repeat-x;
}

.nav-title02 .fl {
  display: inline;
  float: left;
  height: 36px;
  margin-top: 0;
  margin-left: 0;
  background: url(../images/cssimg/nav_title02_sbg.jpg) repeat-x;
}

.nav-title02 .fl span {
  display: inline-block;
  padding: 0 19px;
  color: #ca3045;
  background: url(../images/cssimg/icon01.jpg) no-repeat left center;
  font-family: '微软雅黑';
  font-size: 16px;
  line-height: 36px;
}

.nav-title02 .fl span font {
  padding: 0 4px;
  color: #999;
  font-family: '微软雅黑';
  font-size: 14px;
  line-height: 36px;
}

.nav-title02 .fr {
  display: inline;
  float: right;
  height: 36px;
  margin-top: 0;
  margin-right: 7px;
}

.nav-title02 .fr a {
  color: #999;
  line-height: 36px;
}

.nav-title02 .fr a:hover {
  text-decoration: underline;
  color: #e60012;
}


/*合作伙伴*/

.partner-imglist {
  margin-top: 20px;
}

.partner-imglist ul {
  margin-left: -10px;
}

.partner-imglist ul li {
  display: inline;
  float: left;
  width: 148px;
  height: 48px;
  margin-left: 13px;
}

.partner-imglist ul li img {
  width: 146px;
  height: 46px;
  border: 1px solid #ddd;
}
