@charset "utf-8";
/* CSS Document */

.padding10-0 {
	padding: 10px 0px;
}
/*表单标题*/
.form-legend {
}
/*input文本*/
.input-text {
	display: block;
	width: 100%;
	height: 22px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/*按钮*/
.btn-default {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-default:hover {
	background: #0273b2;
}
.btn-default:hover, .btn-default:focus {
 color: #fff;
 -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/*文本框*/
.textarea-text {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.textarea-text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/*单选框*/
.radio-group {
	padding: 10px 0px;
}
.radio-inline {
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
	padding: 0px 10px;
	text-indent: 5px;
}
.radio-inline {
	float: left;
	margin-top: 3px;
}
/*复选框*/
.checkbox-group {
	padding: 10px 0px;
}
.checkbox-inline {
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
	padding: 0px 10px;
	text-indent: 5px;
}
.checkbox-inline input {
	float: left;
	margin-top: 3px;
}
/*下拉框*/
.select-group {
	padding: 10px 0px;
}
.select01 {
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.select01 {
	-webkit-appearance: none!important;
	-webkit-border-radius: 2px;
}
.select01:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
option {
	font: inherit;
}
/*去iphone input 内阴影 */
{
-webkit-appearance:none;
}
