@charset "utf-8";
/* CSS Document */
/*inner*/
#inner_banner{height:198px; background:url(../menu_00/images/cssimg/inner_about_banner.jpg) no-repeat bottom center; background-color:#f0f0f0;}
#inner_banner_bottom{height:7px; background:url(../menu_00/images/cssimg/banner_bottom.jpg) no-repeat bottom center; background-color:#f0f0f0;}

.inner{ width:960px; margin:0px auto; margin-top:15px; padding-bottom:30px;}
.inner_left{ float:left; width:202px; display:inline;}
.inner_left_nav{ height:37px; background:url(../menu_00/images/cssimg/inner_nav_bg.jpg) repeat-x;}
.inner_left_nav .l{ display:inline;height:37px; background:url(../menu_00/images/cssimg/inner_nav_left.jpg) no-repeat left center; line-height:37px; font-size:14px; font-weight:800; color:#333333; padding-left:28px;}
.inner_left_nav .r{ display:inline;height:37px; background:url(../menu_00/images/cssimg/inner_nav_right.jpg) no-repeat; width:14px;}

.inner_left_nr{ border:1px solid #d9d9d9; border-top:none; border-bottom:none; width:200px; background:url(../menu_00/images/cssimg/inner_nr_bg.jpg) repeat-y;}
.inner_left_nr ul{ padding:5px;}
.inner_left_nr ul li{ height:39px; background:url(../menu_00/images/cssimg/inner_nr_li_bg.jpg) no-repeat; background:url(../menu_00/images/cssimg/inner_nr_li_bg.jpg) no-repeat center bottom;}
.inner_left_nr ul li a{ display:block; width:150px; height:39px; line-height:39px; color:#333; background:url(../menu_00/images/cssimg/inner_icon02.jpg) no-repeat right center; padding-left:15px;}
.inner_left_nr ul li a:hover{ display:block; width:150px; height:39px; line-height:39px; color:#d80202; background:url(../menu_00/images/cssimg/inner_icon01.jpg) no-repeat right center;padding-left:15px;}
.inner_left_nr ul li.select a{ display:block; width:150px; height:39px; line-height:39px; color:#d80202; background:url(../menu_00/images/cssimg/inner_icon01.jpg) no-repeat right center;padding-left:15px;}
.inner_left_nr_bottom{ width:202px; height:12px; background:url(../menu_00/images/cssimg/inner_nr_bottom_bg.jpg) no-repeat;}


.inner_right{ float:right; width:730px; display:inline; border:1px solid #d9d9d9; padding:5px;}
.site{ height:45px; border-bottom:1px dotted #e5e4e4; line-height:45px; }
.site .l{ font-size:14px; font-weight:800; color:#4b4b4b; line-height:45px; display:inline;padding-left:23px;}
.site .r{ line-height:45px; display:inline;color:#7b7a7a; padding-right:13px;}
.site .r a{ line-height:45px; color:#7b7a7a;}
.site .r a:hover{ line-height:45px; color:#d80202;}


/*关于我们*/
.inner_content{ padding:20px; line-height:200%; color:#7b7a7a;}

/*代理加盟*/
.inner_join{ border:1px solid #d9d9d9; padding:5px;}
.inner_join_content{ padding:10px;}
.inner_join_content .div01{ line-height:25px; color:#7b7a7a; padding:10px 0px;}
.daililiucheng{ line-height:25px; color:#7b7a7a; padding:10px 0px;}
.daililiucheng_title{ display:block; height:20px; line-height:20px; font-size:14px; font-weight:800; color:#4b4b4b; padding-left:10px;}
.daililiucheng  ul{ margin-top:10px;}
.daililiucheng  ul li{ width:255px; height:105px; border:3px solid #e9e9e9; float:left; display:inline; margin-left:10px; margin-top:10px; padding-top:10px; padding-left:25px; padding-right:10px;}
.daililiucheng  ul li .box01{ height:50px; line-height:50px; font-size:40px; font-weight:800; color:#e30000; font-family:Arial, Helvetica, sans-serif;}
.daililiucheng  ul li .box01 span{ display:inline-block; height:20px; margin-left:10px; line-height:30px; font-size:14px; color:#444444;}
.daililiucheng  ul li .box02{ color:#4b4b4b;}

.inner_join_content .div02{ line-height:50px; color:#4b4b4b; padding:0px 10px; font-size:14px;}
.inner_join_content .div02 span{ color:#dc0202;}

/*公司资质*/
.inner_qualification{ text-align:center; margin:0px auto; width:650px;}
.inner_qualification .box01{ margin-top:20px;}
.inner_qualification .box02{ margin-top:20px;}
.inner_qualification a{ margin-left:10px;}

/*诚聘英才*/
.inner_job{ padding:15px 20px;}
.inner_job .div01{line-height:50px; color:#4b4b4b; border-bottom:dotted 1px #e5e4e4; }
.inner_job .div01 span{  height:50px; line-height:50px;font-weight:800; font-size:14px; color:#4b4b4b;}
.inner_job .div01 a{ height:50px; line-height:50px; display:block; width:80px; float:right; color:#4b4b4b;}
.inner_job .div01 a:hover{ height:50px; line-height:50px; color:#d80202;}
.inner_job .div01 .div02{ line-height:24px;}
.inner_job .red a{ font-size:14px; line-height:50px; color:red;}

/*联系我们*/
.inner_contact{}
.inner_contact .l{ line-height:30px;}

/*新闻部分*/
.inner_news {padding:0px 10px; }
.inner_news ul li {height:38px; line-height:38px; text-align:left; text-indent:10px; border-bottom:dotted 1px #e5e4e4; background:url(../menu_00/images/cssimg/inner_news_icon.jpg) no-repeat left center;}
.inner_news ul li a { display:inline-block; height:38px; width:530px; overflow:hidden; color:#585858; font-size:12px; line-height:38px;}
.inner_news ul li a:hover { color:red; font-size:12px; line-height:38px;}
.inner_news ul li span {display:block; width:100px; height:28px; height:28px; line-height:28px; text-align:center; color:#999; float:right;}

/*新闻详细*/
.inner_news_de {padding:0px 10px; }
.inner_news_de .news_title { padding-top:30px;}
.inner_news_de .news_title .div01{ text-align:center; font-size:22px; height:30px; line-height:30px; color:#575656; font-weight:800;}
.inner_news_de .news_title .div02{ text-align:center; color:#333; line-height:22px; margin-top:10px; color:#7f7f7f;}
.inner_news_de .news_de_nr { text-align:left; padding:10px 0px; line-height:200%; color:#575656;}

/*下载中心*/	
.inner_download {padding:0px 10px; }
.inner_download ul li {height:80px; text-align:left;border-bottom:dotted 1px #e5e4e4;}
.inner_download ul li a { display:block; float:right; width:108px; height:31px; line-height:31px; background:url(../menu_00/images/cssimg/inner_download_bt.jpg) no-repeat; margin-top:24px;}
.inner_download ul li p{ width:570px; height:60px; float:left; margin-left:5px; display:inline; margin-top:20px; color:#7b7a7a; line-height:24px;}
.inner_download ul li p span{ display:block; height:22px; line-height:20px; color:#7b7a7a; font-weight:800; font-size:14px;}

/*解决方案*/	
.inner_scheme{ padding:0px 10px;}
.scheme_content01{ color:#7b7a7a; padding:20px 10px; line-height:200%;}
.scheme_nav{ border-bottom:1px dotted #e5e4e4; border-top:1px dotted #e5e4e4; height:37px; line-height:37px; font-size:14px; font-weight:800; color:#333333; padding-left:20px;}
.scheme_content02{ padding:20px 10px; text-align:center; }

.scheme_content03{  padding:10px 20px; }
.scheme_content03 ul li{ float:left; width:123px; height:43px; border:1px solid #ddd; margin-left:10px; margin-top:10px;}

.inner_left_nr{ border:1px solid #d9d9d9; border-top:none; border-bottom:none; width:200px; background:url(../menu_00/images/cssimg/inner_nr_bg.jpg) repeat-y;}
.inner_left_nr ul{ padding:5px;}
.inner_left_nr ul li{ height:39px;background:url(../menu_00/images/cssimg/inner_nr_li_bg.jpg) no-repeat center bottom;}
.inner_left_nr ul li a{ display:block; width:150px; height:39px; line-height:39px; color:#333; background:url(../menu_00/images/cssimg/inner_icon02.jpg) no-repeat right center; padding-left:15px;}
.inner_left_nr ul li a:hover{ display:block; width:150px; height:39px; line-height:39px; color:#d80202; background:url(../menu_00/images/cssimg/inner_icon01.jpg) no-repeat right center;padding-left:15px;}
.inner_left_nr ul li.select a{ display:block; width:150px; height:39px; line-height:39px; color:#d80202; background:url(../menu_00/images/cssimg/inner_icon01.jpg) no-repeat right center;padding-left:15px;}

/*三级分类*/	
.scheme_class_nr{width:202px; background:url(../menu_00/images/cssimg/scheme_nr_bg.jpg) repeat-y;}

.scheme_class_nr .left_nav{height:40px; width:200px; margin-left:1px;}
.scheme_class_nr .left_nav a{ display:block; height:40px; width:200px; line-height:40px; text-indent:25px; color:#333333; background:url(../menu_00/images/cssimg/scheme_bg.jpg) no-repeat;}
.scheme_class_nr .left_nav a:hover{display:block; height:40px; line-height:40px; text-indent:25px; color:#e90303; font-weight:800; background:url(../menu_00/images/cssimg/scheme_sbg.jpg) no-repeat;}
.scheme_class_nr .left_nav_cortal li{width:200px; margin-left:1px; height:25px; line-height:25px; margin-top:2px;}
.scheme_class_nr .left_nav_cortal a{text-align:left;display:block; width:200px; height:25px; line-height:25px; color:#333333; text-indent:30px;}
.scheme_class_nr .left_nav_cortal a:hover{text-align:left;display:block; width:200px; height:23px; line-height:23px;color:#333333; text-indent:30px; border:1px solid #d9d9d9; background:#fff; border-left:none; border-right:1px solid #fff; }


.inner_sub_scheme{ display:none;}
.scheme_class_nr .left_nav_cortal li:hover .inner_sub_scheme{ display:block; position:absolute; margin-left:201px;}
.scheme_class_nr .left_nav_cortal li:hover  .inner_sub_scheme{ display:block; position:absolute; margin-left:201px;}
.scheme_class_nr .left_nav_cortal li:hover  a{text-align:left;display:block; width:200px; height:23px; line-height:23px;color:#e90303; text-indent:30px; border:1px solid #d9d9d9; background:#fff; border-left:none; border-right:1px solid #fff;}
.scheme_class_nr .left_nav_cortal li:hover  ul{ position:relative; width:150px; border:1px solid #d9d9d9; background:#fff; border-left:none; margin-top:-25px; padding:10px 0px;}
.scheme_class_nr .left_nav_cortal li:hover  ul li{ width:140px;}
.scheme_class_nr .left_nav_cortal li:hover  ul li a{text-align:left;display:block; width:140px; height:25px; line-height:25px; color:#333333; text-indent:30px; border:none;}
.scheme_class_nr .left_nav_cortal li:hover  ul li a:hover{text-align:left;display:block; width:140px; height:25px; line-height:25px;color:#e90303; text-indent:30px; border:none;}

.scheme_class_nr .left_nav_cortal li.hover  .inner_sub_scheme{ display:block; position:absolute; margin-left:201px;}
.scheme_class_nr .left_nav_cortal li.hover  a{text-align:left;display:block; width:200px; height:23px; line-height:23px;color:#e90303; text-indent:30px; border:1px solid #d9d9d9; background:#fff; border-left:none; border-right:1px solid #fff;}
.scheme_class_nr .left_nav_cortal li.hover  a:hover{text-align:left;display:block; width:200px; height:23px; line-height:23px;color:#e90303; text-indent:30px; border:1px solid #d9d9d9; background:#fff; border-left:none; border-right:1px solid #fff;}
.scheme_class_nr .left_nav_cortal li.hover  ul{ position:relative; width:150px; border:1px solid #d9d9d9; background:#fff; border-left:none; margin-top:-25px; padding:10px 0px;}
.scheme_class_nr .left_nav_cortal li.hover  ul li{ width:140px;}
.scheme_class_nr .left_nav_cortal li.hover  ul li a{text-align:left;display:block; width:140px; height:25px; line-height:25px; color:#333333; text-indent:30px; border:none;}
.scheme_class_nr .left_nav_cortal li.hover  ul li a:hover{text-align:left;display:block; width:140px; height:25px; line-height:25px;color:#e90303; text-indent:30px; border:none;}



/*分页*/
.fenye{ margin-top:20px;height:20px; line-height:20px; font-size:14px; margin-bottom:20px;}
.fenye .l{ display:inline; margin-left:10px; margin-top:5px;}
.fenye .r{ display:inline; margin-right:10px;}
.fenye a{ font-size:14px; display:inline-block; height:20px; line-height:20px;  background:#efedee; border:1px solid #ccc; padding:3px 10px;}
.fenye a:hover{display:inline-block; height:20px;  background:#efedee; border:1px solid #ccc; padding:3px 10px; color:white; font-size:14px; font-weight:400; background:#e70303;}
.fenye strong{display:inline-block; height:20px; line-height:20px; background:#e70303; border:1px solid #ccc; padding:3px 10px; color:white; font-size:14px; font-weight:400; background:#d40606;}








