/*分页01 公用*/
.glo-page{ height:30px; font-size:14px; text-align:center; position:relative;}
.glo-page span{ display:inline-block; border:1px solid #d7dce1;}
.glo-page span.current{ display:inline-block; border:1px solid #e1862a;}
.glo-page a{ font-size:14px; display:inline-block; height:30px; line-height:28px; border:1px solid #d9e4f3; background:#ffffff; padding:0px 7px; min-width:30px; color:#0085d0; font-family:'Hiragino Sans GB',\5b8b\4f53,sans-serif; margin-right:5px;}
.glo-page a:hover{ font-size:14px; display:inline-block; height:30px; line-height:28px; border:1px solid #0085d0; background:#0085d0; padding:0px 7px; min-width:30px; color:#fff;}
.glo-page strong{ font-size:14px; display:inline-block; height:30px; line-height:28px; border:1px solid #0085d0; background:#0085d0; padding:0px 7px; min-width:30px; color:#fff; font-weight:400; margin-right:5px;}
.glo-page .glo-page-prev{ height:30px; width:38px; border:none; background:url(../../glo/images/pages/glo_page01_prev_bg.png) no-repeat 0 0; transition:none;}
.glo-page .glo-page-prev:hover{ height:30px; width:38px; border:none; background:url(../../glo/images/pages/glo_page01_prev_bg.png) no-repeat 0px -34px;}
.glo-page .glo-page-next{ height:30px; width:38px; border:none; background:url(../../glo/images/pages/glo_page01_next_bg.png) no-repeat 0 0; transition:none;}
.glo-page .glo-page-next:hover{ height:30px; width:38px; border:none; background:url(../../glo/images/pages/glo_page01_next_bg.png) no-repeat 0px -34px;}
.glo-page .glo-shenglve{ border:none; background:none; width:20px;}
.glo-page .glo-shenglve:hover{ border:none; background:none; color:#0085d0;}


/*分页*/
.glo-page01{height:28px; font-size:12px; text-align:center; }
.glo-page01 a{ font-size:12px; display:inline-block; height:20px; line-height:20px; border:1px solid #d6cfd6; background:#f7f7f7; padding:3px 10px; color:#6a6a6a;}
.glo-page01 a:hover{display:inline-block; height:20px; line-height:20px; border:1px solid #a20607;  padding:3px 10px; color:white; font-size:12px; font-weight:400; background:#d20c0d;}
.glo-page01 strong{display:inline-block; height:20px; line-height:20px; border:1px solid #a20607;  padding:3px 10px; color:white; font-size:12px; font-weight:400; background:#d20c0d}

/*分页*/
.glo-page02{height:25px; font-size:12px; }
.glo-page02 .l{ float:left; display:inline; margin-left:0px; margin-top:0px; height:25px;}
.glo-page02 .l{ line-height:25px; color:#999999; font-size:12px; font-weight:400; }

.glo-page02 .r{ float:right; display:inline; margin-right:0px; margin-top:0px; height:25px;}
.glo-page02 .r ul li{ float:left; display:inline-block; height:23px; padding:1px; line-height:23px; border:1px solid #d7dce1; margin-right:5px; }

.glo-page02 .r ul li a{display:inline-block; height:23px; line-height:23px; padding:0px 8px; background:#f7f7f7; color:#7b7b7b;}
.glo-page02 .r ul li a:hover{display:inline-block; height:23px; line-height:23px; padding:0px 8px; background:#0092d1; color:#fff;}
.glo-page02 .r ul li.active{display:inline-block; height:23px; padding:1px; line-height:23px; border:1px solid #1a89c6; background:#0092d1;}
.glo-page02 .r ul li.active a{display:inline-block; height:23px; line-height:23px; padding:0px 8px; background:#0092d1; color:#fff;}

