@charset "utf-8";
.bank-content-link { width: 800px; float: left; overflow: hidden }
.bank-content-link li { width: 160px; float: left }
.bank-content-link .bank-icon { height: 42px; padding-top: 10px }

